<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <link rel="icon" href="img/icono.png">
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navegation') %>

    <!--contenido principal-->
    <main class="container  vh-100 d-grid justify-content-center align-items-center" >
      <div class="row gap-5">
          <div class="card shadow-lg p-3 col-sm-4 col-md-4 col-lg-4 col-xl-4"  style="width: 18rem;">
            <img src="img/fazt.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Recuerdos</h5>
              <p class="card-text"> Cada momento es especial con los personas que quieres y puedes ser mas feliz al lado de ellas</p>
              <a href="/contact" class="btn btn-primary">About</a>
            </div>
          </div>
          <div class="card shadow-lg p-3 col-sm-4 col-md-4 col-lg-4 col-xl-4"  style="width: 18rem;">
              <img src="img/bro.png" class="card-img-top " alt="...">
              <div class="card-body">
                <h5 class="card-title">Recuerdos</h5>
                <p class="card-text"> Cada momento es especial con los personas que quieres y puedes ser mas feliz al lado de ellas</p>
                <a href="/contact" class="btn btn-primary">About</a>
              </div>
          </div>
          <div class="card shadow-lg p-3 col-sm-4 col-md-4 col-lg-4 col-xl-4"  style="width: 18rem;">
            <img src="img/fazt.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Recuerdos</h5>
              <p class="card-text"> Cada momento es especial con los personas que quieres y puedes ser mas feliz al lado de ellas</p>
              <a href="/contact" class="btn btn-primary">About</a>
            </div>
          </div>  
      </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>